@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* TESTE TROJAO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* Como a fonte padrao utilizada pelo navegador é de 16px, 62.5% equivale a 10px, calculo utilizado para facilitar a conversão de px para rem */
:root {
    font-size: 62.5%; /* 10px = 1rem */
    --white-color:  hsl(0, 0%, 100%);
    --blue-color: hsl(240, 100%, 7%);
    --orange-color: hsl(32, 89%, 48%);
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 24rem;
    background-color: var(--blue-color);
    padding: 0.6rem 1.4rem;
}
.sideBar .logoContent .logo {
    color: var(--white-color);
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    gap: 2rem;
}
.logoContent .logo .logoName {
    font-size: 2rem;
    text-transform: uppercase;
}
.sideBar ul {
    margin-top: 2rem;
}
.sideBar ul li {
    position: relative;
    height: 5rem;
    width: 100%;
    margin: 0 .5rem;
    list-style: none;
    line-height: 5rem;
}
.sideBar ul li a {
    color: var(--white-color);
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 1rem;
}
.sideBar ul li a:hover {
    margin-right: 1rem;
    transition: all 0.4s ease;
    color: var(--white-color);
    background-color: #808080;
}
.sideBar ul li a img {
    height: 3.5rem;
    min-width: 3.5rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
    text-align: center;
}
.sideBar .linksName {
    opacity: 1;
    pointer-events: auto;
}
.sideBar ul li a span {
    font-size: 1.6rem;
    font-weight: 500;
}
.homeContent {
    position: absolute;
    min-height: 100%;
    width: calc(100% - 7.8rem);
    left: 7.8rem;

    display: flex;
    flex-wrap: wrap;
}
.sideBar ~ .homeContent {
    width: calc(100% - 24rem);
    left: 24rem;
}
#carregarMais {
    position: fixed;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    width: 339px;
    height: 70px;
    background: black;
    border-radius: 12px;
    border: none;
    margin-top: 68rem;
    margin-left: 45rem;
    text-transform: uppercase;
    z-index: 10;
}


/* ================================ */

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

.galleryCard {
    background-position: center;
    background-repeat: no-repeat;
    width: 31%;
    height: 400px;
    margin-bottom: 4%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    background-color: #e1e1e1;
  }
  
  .galleryCardTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 10px black;
    cursor: default;
    text-align: center;
  }
  
  .galleryCard:hover {
    width: 130%;
    max-width: 400px;
    transition:width 3s;
    background-size: 90%;
    color: #FFFFFF;
    text-shadow: 5px 5px 10px black;
    background-color: #272B30;
    filter: grayscale(0%);
  }
  
  .galleryCardBtn:hover {
    color: #A0C55F;
    text-shadow: none;
  }

  .galleryCardBtn {
    padding: 0.6rem 1rem;
    border: none;
    color: cadetblue;
    font-size: 2rem;
    text-transform: uppercase;
    transition: background-color 1s;
    transition: color 0.6s;
    cursor: pointer;
    text-shadow: none;
  }