@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* Como a fonte padrao utilizada pelo navegador é de 16px, 62.5% equivale a 10px, calculo utilizado para facilitar a conversão de px para rem */
:root {
    font-size: 62.5%; /* 10px = 1rem */
    --white-color:  hsl(0, 0%, 100%);
    --blue-color: hsl(240, 100%, 7%);
    --orange-color: hsl(32, 89%, 48%);
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;

    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 24rem;
    padding: 0.6rem 1.4rem;

    background-color: rgb(58, 7, 94);
    border: 2px solid black;
}
.sideBar .logoContent {
    margin-bottom: 8rem;
}
.sideBar .logoContent .logo {
    display: flex;
    height: 5rem;
    margin-left: 0.5rem;
    width: 100%;
    align-items: center;
    gap: 0.5rem;

    color: var(--white-color);
}
.logoContent .logo img {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
}
.logoContent .logo .logoName {
    font-size: 2rem;
    text-transform: uppercase;
}
.sideBar ul {
    margin-top: 2rem;
}
.sideBar ul li {
    position: relative;
    height: 5rem;
    width: 100%;
    margin: 0 .5rem;
    list-style: none;
    line-height: 5rem;
}
.sideBar ul li a {
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 1rem;

    color: var(--white-color);
}
.sideBar ul li a:hover {
    margin-right: 1rem;
    transition: all 0.4s ease;

    color: var(--white-color);
    background-color: #808080;
}
.sideBar ul li a img {
    height: 3.5rem;
    min-width: 3.5rem;
    margin-right: 2rem;
    text-align: center;
}
.sideBar .linksName {
    opacity: 1;
    pointer-events: auto;
}
.sideBar ul li a span {
    font-size: 1.6rem;
    font-weight: 500;
}
.homeContent {
    position: absolute;
    min-height: 100%;
}
.sideBar ~ .homeContent {
    width: calc(100% - 24rem);
    left: 24rem;
}
#carregarMais {
    position: fixed;
    font-size: 1.8rem;
    font-weight: 700;
    width: 339px;
    height: 70px;
    border-radius: 12px;
    border: none;
    /*margin-top: 28rem;
    margin-left: 45rem;*/
    text-transform: uppercase;
    z-index: 10;
    cursor: pointer;
    top: 90%;
    left: 55%;
    transform: translate(-50%,-50%);
    color: white;
    background: rgb(58, 7, 94);
}
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
  }
.galleryCard {
    background-position: center;
    background-repeat: no-repeat;
    width: 31%;
    height: 400px;
    margin-bottom: 4%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;

    background-color: rgb(152, 69, 211);
  }
  .galleryCardTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 10px black;
    cursor: default;
    text-align: center;
  }
  .galleryCard:hover {
    width: 130%;
    max-width: 400px;
    transition:width 3s;
    background-size: 90%;
    text-shadow: 5px 5px 10px black;
    filter: grayscale(0%);

    color: #FFFFFF;
    background-color: #272B30;
  }
  .galleryCardBtn:hover {
    text-shadow: none;

    color: #A0C55F;
  }
  .galleryCardBtn {
    padding: 0.6rem 1rem;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    transition: 1s;
    transition: color 0.6s;
    cursor: pointer;
    text-shadow: none;

    color: cadetblue;
  }
  .galleryBanner {
    margin: auto;
    margin-top: 10rem;
    width: 90rem;
    height: 30rem;

    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  }
.headerNav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14rem;
    cursor: pointer;

    font-size: 1.8rem;
    color: white;
    font-weight: 700;

    width: calc(100% - 24rem);
    height: 8rem;
    z-index: 100;

    background-color: rgb(58, 7, 94);
    border: 2px solid black;
}
.headerNav a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;

    text-transform: uppercase;
}
.headerNav a:hover {
    transition: all 0.4s ease;
    border-radius: 1rem;
    height: 5rem;

    color: var(--white-color);
    background-color: #808080;
}